<form action="/search" method="post" class="form-inline">

  <div class="input-group">
    <input type="text" value="<%= query %>" class="form-control w-100 m-r-10" id="searchquery" name="searchquery" autocomplete="on" aria-describedby="help" placeholder="Search Unsplash..." required="" autofocus>

    <span class="input-group-btn">
      <button class="btn btn-primary btn-block"><i class="fa fa-search" aria-hidden="true"></i> Search</button>
    </span>

  </div>

</form>

