
/************/
/* images  **/
/************/

.image-container {
  display: flex;
  flex-wrap: wrap; 
  margin-top: 20px;
}

.image {    
  border: 0;
  margin: 0;
  position: relative;
  width: 20%;
  padding-bottom: 20%;
  background-size: 175%;
  background-position: center;
  overflow: hidden;
  transition: all 0.2s ease;
}

.image:hover {
  background-size: 200%;
} 

.image > .favourite {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 600;
  text-shadow: 0 0 4px rgba(33,33,33,0.5);
  opacity: 0.6;
  transition-duration: 0.25s;
  transition-timing-function: ease-in-out;
  transition-property: transform, color, opacity;
}

.image > .favourite.on,
.lead > .favourite.on  {
  color: var(--yellow);
  opacity: 1;
}

.image > .favourite:hover {
  transform: rotate(72deg);
  /* color: #ffffff;
  font-weight: 800;
  text-shadow: 0 0 2px rgba(99,99,99,0.7); */
}

.image > .details {
  display: block;
  opacity: 0;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10px;
  padding: 7px;
  font-size: 0.675rem;
  font-weight: 600;
  background: rgb(255, 255, 255, 0.9);
  transition: all 0.2s 0.4s ease;
}

.image:hover > .details {
  opacity: 1;
  bottom: 0;
  transition: all 0.2s 0.2s ease;
} 

.image > .details > a > .info,
.image > .details > a > .fa-info-circle:before {
  font-size: 1rem;
  position: absolute;
  top: 4px;
}

.image > .details > a > span {
  margin-left: 20px;
}

.image > .details > a {
  color: var(--dark-blue)
}

.image > .details > a:hover {
  text-decoration: none;
  color: var(--deep-blue)
}

@media (max-width: 750px) {
  .image {
    width: 25%;
    padding-bottom: 25%;
  }
}

@media (max-width: 600px) {
  .image {
    width: 33.3%;
    padding-bottom: 33.3%;
  }
}

@media (max-width: 450px) {
  .image {
    width: 50%;
    padding-bottom: 50%;
  }
}

@media (max-width: 300px) {
  .image {
    width: 100%;
    padding-bottom: 100%;
  }
}