body {
  margin: 1rem;
  box-sizing: border-box;
}

:root {
  --dark-blue: #0287d4;
  --deep-blue: #006097;
  --grey: #6a8092;
  --yellow: #ffdd33;
}
v
* {
  font-family: 'Open Sans', sans-serif;
}

.bg-dark {
  background-color: var(--dark-blue) !important;
}

.lead > a {
  color: var(--dark-blue) !important;
}
.lead > a:hover {
  color: var(--deep-blue) !important;
  text-decoration: none !important;
}

.grid-container {
  /* width: calc(100vw - 4rem); */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
}

.jumbotron {
  background-color: #e9ecef85 !important;
}

input, select {
  color: black;
}

h1, h2, h3 {
  letter-spacing: 1px;
  font-family: 'Nunito', sans-serif;
}

*::placeholder {
  color: rgb(210, 210, 210) !important;
}

input, select, option {
  color: black !important;
}

.btn-primary {
  color: #fff !important;
  background-color: orangered !important;
  border: 0;
  transition: all 0.15s ease;
}

.btn-primary:hover {
  background-color: #e93e00 !important;
  transition: all 0.15s ease;
}

.form-inline .input-group {
    width: 75%;
}

@media (max-width: 576px) {
  .form-inline .input-group {
      width: 100%;
  }
}

/*************/
/* general  **/
/*************/

.lead > .info {
  color: var(--dark-blue);
}

/* .image > .details > a > .info::after, */
.lead > .info::after {
  position: absolute;
  content: '';
  background: #fff;
  z-index: -1;
  margin: 6px;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.lead {
  font-size: 18px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-10 {
  padding: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.color-red {
  color: #e82f3a;
}

.color-grey {
  color: var(--grey);
}

.background-red {
  background: #e82f3a;
}

.uppercase {
  text-transform: uppercase;
}

.nav-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
}
