<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body>

<header>
  <%- include('../partials/header', { 
    page: 0,
    query: 0
  }); %>
</header>

<main role="main" class="grid-container m-t-100">
  <h3 class="color-grey uppercase">About</h3>
  <section class="jumbotron p-20">
    <p class="lead">This photo finder uses the <a href="https://unsplash.com/documentation">Unsplash API </a> - a modern JSON API that serves data from the largest open collection of high-quality, royalty-free photos.
    <ul>
      <li>Built from scratch using Node, Express, EJS, JavaScript and Bootstrap; without using any frameworks or libraries like React, Vue etc...</li>
      <li>Includes pagination and the ability to save favourites in localStorage</li>
      <li>Fully responsive and mobile friendly</li>
    </ul>
    </p>
  </section>
</main>

<%- include('../partials/footer') %>

<script src="script.js" defer></script>
<script src="favourites.js" defer></script>

</body>
</html>